*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body {
    font-family: Open Sans, sans-serif;

}
footer {
    background-color: black;
    text-align: center;
    padding-bottom: 20px;
}

.navbar-color {
    background-color: #373A3C;
}

.contenedor-iconos{
    display: flex;
    padding: 100px 40px 0 40px;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.mistrabajos {
    background-color: #17A2B8;
    color: white;
}